*{
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
  scrollbar-width: none;
}
#calc{
  position: absolute;
  bottom: 5px;
}
#main{
  display: grid;
  grid-template-areas:  "inp"
                        "row1"
                        "row2"
                        "row3"
                        "row4"
                        "row5" ;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-self: center;
  overflow: hidden;
  scrollbar-width: none;
}
.btns{
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  transition-duration: 0.15s;
  transition-property: all;
  box-sizing: content-box;
  field-sizing: content;
  position: sticky;
  border-radius: 50%;
  box-shadow: 0px 0px 1.3px rgb(239, 239, 239);
  background-color: rgb(232, 252, 252);
}
.btns:active{
  box-shadow: 0px 0px 10px rgb(152, 252, 253);  /* rgb(107, 253, 255) */
  background-color: rgb(171, 254, 255);
}
#res{
  overflow: hidden;
  scrollbar-width: none;
}

/* For smaller screens */
@media screen and (max-width:330px) {
  .btns{
    padding: 0.3em 0.8em 1.2em 0.8em;
    font-size: 1.3em;
    margin: 1.4em 2.5em 0.15em 2.5em;
    width: 11px;
    height: 14px;
  }
  #n1{
    width: 14px;
    font-size: 1.325em;
  }
  #n2{
    width: 16.8px;
    font-size: 1.3em;

  }
  #n3{
    width: 14px;
    font-size: 1.325em;
  }
  #n4{
    width: 23px;
    font-size: 1.36em;
  }
  #res{
    width: 88vw;
  }
  #i1{
    width: 81vw;
    text-align: end;
    font-size: 2.1em;
  }
}

/* For mobile screens */
@media screen and (max-width:500px) and (min-width:330px) {
  .btns{
    padding: 0.4em 0.8em 1.3em 0.8em;
    font-size: 1.4em;
    margin: 1.1em 3em 0.1em 3em;
    width: 1em;
    height: 0.8em;
  }
  #n1{
    width: 1em;
    font-size: 1.371em;
  }
  #n2{
    width: 1.2em;
    font-size: 1.35em;

  }
  #n3{
    width: 1em;
    font-size: 1.371em;
  }
  #n4{
    width: 1.2em;
    font-size: 1.371em;
  }
  #res{
    width: 99.99vw;
  }
  #i1{
    width: 87.1vw;
    text-align: end;
    font-size: 2.5em;
  }
}

/* For Tablet, Laptop screens */
@media screen and (min-width:501px) {
  .btns{
    padding: 0.8em 0.8em 0.2em 0.8em;
    padding-bottom: 1.1em;
    font-size: 1.4em;
    margin: 1em 0.6em 0.3em 0.6em;
    width: 26px;
    height: 25px;
  }
  #n1{
    width: 27.1px;
    font-size: 1.325em;
  }
  #n2{
    width: 28px;
    font-size: 1.3em;

  }
  #n3{
    width: 27px;
    font-size: 1.325em;
  }
  #n4{
    width: 27.2px;
    font-size: 1.35em;
    /* margin-right: 0em; */
  }
  #res{
    width: 100vw;
  }
  #i1{
    width: 100vw;
    text-align: center;
    font-size: 2.8em;
    position: relative;
  }
}


.logo{
  width: 5.65em;
}
@keyframes logo {
  0%{
      color:greenyellow;;
  }
  35%{
      color: crimson;
  }
  70%{
      color: aqua;
  }
}
.fa-solid{
  animation-name: logo;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.35s;
}
@keyframes slide {
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(2.85em);
  }
}
#hid{
  animation-name: slide;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  width: 2.8em;
  height: 0.96em;
  background-color: white;
  z-index: 1;
  position: absolute;
}